/vendor
/node_modules
.env
.env.testing
composer.phar
.DS_Store
Thumbs.db
npm-debug.log
storage/tmp
database.sqlite
yarn-error.log
/public/build
/public/css/*.css
/public/fonts
/public/js

# IDE-helper related
_ide_helper*
.phpstorm.meta.php