parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$email_verified\\.$#"
			count: 1
			path: app/Http/Controllers/AccountController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$id\\.$#"
			count: 1
			path: app/Http/Controllers/AccountController.php

		-
			message: "#^Parameter \\#1 \\$user of class BB\\\\Mailer\\\\UserMailer constructor expects BB\\\\Entities\\\\User, Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\|null given\\.$#"
			count: 1
			path: app/Http/Controllers/AccountController.php

		-
			message: "#^Parameter \\#2 \\$id of method BB\\\\Validators\\\\FormValidator\\:\\:validate\\(\\) expects null, int given\\.$#"
			count: 1
			path: app/Http/Controllers/AccountController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$id\\.$#"
			count: 2
			path: app/Http/Controllers/EquipmentController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$online_only\\.$#"
			count: 1
			path: app/Http/Controllers/EquipmentController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$id\\.$#"
			count: 1
			path: app/Http/Controllers/InductionController.php

		-
			message: "#^Relation 'user' is not found in BB\\\\Entities\\\\KeyFob model\\.$#"
			count: 1
			path: app/Http/Controllers/KeyFobCsvController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$id\\.$#"
			count: 2
			path: app/Http/Controllers/NotificationEmailController.php

		-
			message: "#^Called 'count' on Laravel collection, but could have been retrieved as a query\\.$#"
			count: 1
			path: app/Http/Controllers/NotificationEmailController.php

		-
			message: "#^Parameter \\#1 \\$user of class BB\\\\Mailer\\\\UserMailer constructor expects BB\\\\Entities\\\\User, Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\|null given\\.$#"
			count: 1
			path: app/Http/Controllers/NotificationEmailController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$id\\.$#"
			count: 1
			path: app/Http/Controllers/StorageBoxClaimController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$id\\.$#"
			count: 1
			path: app/Http/Controllers/StorageBoxController.php

		-
			message: "#^Parameter \\#1 \\$user of job class BB\\\\Jobs\\\\DiscourseSync constructor expects BB\\\\Entities\\\\User in BB\\\\Jobs\\\\DiscourseSync\\:\\:dispatch\\(\\), Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable given\\.$#"
			count: 1
			path: app/Listeners/DiscourseSyncSubscriber.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$id\\.$#"
			count: 1
			path: app/Notifications/ErrorNotification.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$name\\.$#"
			count: 1
			path: app/Notifications/ErrorNotification.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$id\\.$#"
			count: 1
			path: app/Observer/UserAuditObserver.php

		-
			message: "#^Access to an undefined property BB\\\\Entities\\\\Equipment\\:\\:\\$role\\.$#"
			count: 2
			path: app/Policies/EquipmentPolicy.php

		-
			message: "#^Relation 'courses' is not found in BB\\\\Entities\\\\Equipment model\\.$#"
			count: 2
			path: app/Repo/EquipmentRepository.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$id\\.$#"
			count: 1
			path: app/Repo/UserRepository.php

		-
			message: "#^Relation 'keyFobs' is not found in BB\\\\Entities\\\\User model\\.$#"
			count: 1
			path: app/Repo/UserRepository.php

		-
			message: "#^Property Illuminate\\\\Database\\\\Query\\\\Builder\\:\\:\\$orders \\(array\\) does not accept null\\.$#"
			count: 1
			path: app/Scopes/OrderScope.php
